<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
<%= form_with model: @user, url: '/users/create', local: true  do |form| %>
<h2>id</h2>
<%= form.text_field :user_id %>
  <h2>Name</h2>
<%= form.text_field :name %>
  <h2>password</h2>
<%= form.text_field :password %>
  <%= form.submit class: 'link-text'  %>
<% end %>
