<h1>Bcard#index</h1>
<p>Find me in app/views/bcard/index.html.erb</p>
<%= link_to 'Add-Card', '/bcard/new', class: 'link-text' %>

<!-- <% if @ddlValue %>
<%= @ddlValue.company_name %>
<% end %> -->

<!-- <%= form_with url: "/bcard/index", method: "GET" do |ddl| %>
    <div class="detail-title">group by</div>
    <%= ddl.collection_select(:company_name, @ddlBCards, :company_name, :company_name ) %>
    <%= ddl.submit "grouping" %>
<% end %> -->

<div class="search-header">
    <div class="sort-form">
        <%= form_with url: "/bcard/index", method: :get, local: true do |f| %>
            <div class="select">
                <select name="company_name" id="ddl">
                    <% @ddlBCards.each do |bcard| %>
                    <option value="<%= bcard.company_name %>"><%=bcard.company_name %></option>
                    <% end %>
                    <% if @current_user.authority == 99 %>
                    <option value="all">all</option>
                    <% end %>
                    <option value="default"  id="prompt" selected="selected">Sort by company</option>
                </select>

                <%= f.text_field :name, class: "search-box" , :placeholder => "  Search by name"%>

                <input type="submit" value="Sort" class="link-text">
            </div>  


        <% end %>
    </div>

</div><!-- sort,search -->

<!-- デザイン -->

<!-- コンテナを中央寄せにするだけ -->
<div class="display-center">

    <!-- コンテナ。bcard単位の入れ物で、max-width,min-widthを作る -->
    <div class="bcard-container">
        <% @BCards.each do |bcard| %>

            <!-- bcardをいれる。個々の名前や会社名などの親要素 -->
            <%= link_to("/bcard/edit/#{bcard.id}") do %>
            <div class="bcard">
                <div class="bcard-company"><%= bcard.company_name %></div>
                <div class="bcard-department"><%= bcard.department %></div>
                <div class="bcard-division"><%= bcard.division %></div>
                <div class="bcard-name"><%= bcard.name %></div>
                <div class="bcard-phone">phone:<%= bcard.phone_num %></div>
            </div><!-- class="bcard" -->
            <% end %>
        <% end %>

            <!-- 1枚だけのときに中央寄せにならないように追加 -->
            <div id="bcard-hdn" class="bcard">
                <div class="bcard-company"></div>
                <div class="bcard-name"></div>
                <div class="bcard-phone"></div>

            </div><!-- class="bcard" -->
        
    </div><!-- class="bcard-container" -->

</div><!-- class="display-center" -->

