<h1>Bcard#index</h1>
<p>Find me in app/views/bcard/index.html.erb</p>
<%= link_to 'Add-Card', '/bcard/new', class: 'link_text' %>

<div> <!-- class="display-center"-->
    <table class="bcards">
        <tr>
            <th class="th-company">Company</th>
            <th class="th-name">Customer</th>
            <th class="th-phone_num">Phone</th>
        </tr>
        
    <% @BCards.each do |bcard| %>
        <tr>
            <td class="td-company"><%= bcard.company_name %></td>
            <td class="td-name"><%= bcard.name %></td>
            <td class="td-phone_num"><%= bcard.phone_num %></td>
            <td><%= bcard.user_id %></td>
            <td><%= link_to 'edit', "/bcard/edit/#{bcard.id}", class: 'link_text' %></td>
            
        </tr>
    <% end %>
    </table>

</div>

