<h1>Bcard#new</h1>
<p>Find me in app/views/bcard/new.html.erb</p>
<% if @bcard.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @bcard.errors.full_messages.each do |message| %>
        <li class="flash-notice"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if @message %>
  <div class="flash-notice"><%= @message %></div>
<% end %>
<%= form_with model: @bcard, url: '/bcard/create', local: true do |form| %>
<div class="detail-title">Company</div>
<%= form.text_field :company_name %>
<div class="detail-title">Customer</div>
<%= form.text_field :name %>
<div class="detail-title">Phone Number</div>
<%= form.text_field :phone_num %>
<div class="detail-title">Department</div>
<%= form.text_field :department %>
<div class="detail-title">Division</div>
<%= form.text_field :division %>
<div class="detail-title">Remarks</div>
<%= form.text_area :remarks, class: "remarks"%> 
<!-- クラスつけるときはこの形しかできないらしい -->
<br>
<%= form.submit %>
<br>
<br>
<% end %>