<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "sanitize", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "general", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "main", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="header">

        <div class="header-title">
          <%= @headerTitle %>
        </div>

        <% @current_user = User.find_by(id: session[:user_id]) %>
        <% if session[:user_id] %>
          
          <div class="header-text">
            <%= @current_user.name  %>
          </div>
          <div>
            <%= link_to "Logout", "/logout", method: "post", class:"header-text" %>
          </div>
          <div>
            <%= link_to "Usersindex", "/users", class:"header-text" %>
          </div>
          <div>
            <%= link_to "TOP", "/test/home", class:"header-text" %>
          </div>

        <% else %>

          <div>
            <%= link_to "ログイン", "/", class:"header-text" %>
          </div>
          <div>
            <%= link_to "新規登録", "/users/new", class:"header-text" %>
          </div>

        <% end %>
      </div>

    </header>
      <div class="flex-parent">
        <% flash.each do |key, value| %>
        <p class="flash-notice"><%= value %></p>
        
      <% end %>
      </div>
      <%= yield %>
    </body>
</html>
